<div class="col-lg-6 mx-lg-auto mb-5">
  <div class="card shadow">
    <div class="card-header">
      <h3 class="card-title text-center fw-bold">Resend confirmation instructions</h3>
    </div>
    <div class="card-body">
      

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "student_users/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mt-2 mb-3" , value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-primary mb-2" %>
        </div>
      <% end %>

      <%= render "student_users/shared/links" %>
    </div>
  </div>
</div>



